<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <style>
      canvas {
          border: 1px solid #000;
      }
    </style>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <canvas id="drawing-canvas" width="800" height="600"></canvas>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data['now'] == 'chat') {
              document.querySelector('#chat-log').value += (data.message + '\n');
            } else if (data['now'] == 'draw') {
              context.lineTo(data['x'], data['y']);
              context.stroke();
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'now' : 'chat',
                'message': message
            }));
            messageInputDom.value = '';
        };

        const canvas = document.getElementById('drawing-canvas');
        const context = canvas.getContext('2d');
        var isDrawing = false;
        var lastX = 0;
        var lastY = 0;

        canvas.addEventListener('mousedown', startDrawing);
        canvas.addEventListener('mousemove', draw);
        canvas.addEventListener('mouseup', stopDrawing);
        canvas.addEventListener('mouseout', stopDrawing);

        function startDrawing(e) {
          isDrawing = true;
          [lastX, lastY] = [e.offsetX, e.offsetY];
        }

        function draw(e) {
            if (!isDrawing) return;

            chatSocket.send(JSON.stringify({
              'now': 'draw',
              'x': e.offsetX,
              'y': e.offsetY
            }))
            context.beginPath();
            context.moveTo(lastX, lastY);
            context.lineTo(e.offsetX, e.offsetY);
            context.stroke();
            //[lastX, lastY] = [e.offsetX, e.offsetY];

            if (isDrawing) {
              lastX = e.offsetX;
              lastY = e.offsetY;
          }
        }

        function stopDrawing() {
            isDrawing = false;
        }
    </script>
</body>
</html>